{% extends "movies/_nav.html" %}
{% comment %} Loading the template {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Favorite Movies</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    {% block content %}
      <div>
        <h1>Angel's Favorite Movies</h1>
        {% if movies %}
          {% for movie in movies %}
            <ul>
              <li>{{ movie }}</li>
            </ul>
          {% endfor %}
        {% else %}
          <p>There are no movies in the list hollywood sucks</p>
        {% endif %}
      </div>
    {% endblock content %}
  </body>
</html>
